extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p DigitalMe is a new way to share your thoughs and posts on the web.
        p Registration is super easy and straight forward! Thanks to our implentation of Google+ API and Facebook for Developers, we've managed to implement a seamless and easy way to create an account!