extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Admin tools

        form(method='POST' action='/admin/export')
          div.form-group
            label(for='collection') Collection to export:
            select(type="text", class="form-control" name="collection")
              option(value="" required) Please select a collection
              option(value="users") Users
              option(value="posts") Posts
              option(value="both") Both
            br
            button.btn.btn-primary(type='submit' class='btn-block btn-primary') Export
        form(method='POST' action='/admin/drop')
          div.form-group
            label(for='collection') Collection to drop:
            select(type="text", class="form-control" name="collection")
              option(value="" required) Please select a collection
              option(value="users") Users
              option(value="posts") Posts
              option(value="both") Both
            br
            button.btn.btn-primary(type='submit' class='btn-block btn-primary') Drop
          br
        form#uploadForm(ref='uploadForm' action='/admin/importUsers' method='post' enctype='multipart/form-data')
          label Import users: 
          br
          span(class="fa fa-folder-open" aria-hidden="true")
            input(type='file' name='users' accept=".JSON,.json")
            br
            br
          button.btn.btn-primary.btn-block(type='submit') Import
        form#uploadForm(ref='uploadForm' action='/admin/importPosts' method='post' enctype='multipart/form-data')
          label Import posts: 
          br
          span(class="fa fa-folder-open" aria-hidden="true")
            input(type='file' name='posts' accept=".JSON,.json")
            br
            br
          button.btn.btn-primary.btn-block(type='submit') Import
        br
        br
        form(method='GET' action='/admin/discard')
            button.btn.btn-secondary(type='submit' class='btn-block btn-danger') Discard changes
