extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        div(class='btn-group')
          a(class='btn btn-light2  disabled')
            i(class='fa fa-envelope-o' style='width:16px; height:24px')
          a(class='btn btn-light2 ' href='mailto:octaviojmaia@gmail.com' style='width:12em;') Octávio Maia
        br
        br  
        div(class='btn-group')
          a(class='btn btn-light2  disabled')
            i(class='fa fa-envelope-o' style='width:16px; height:24px')
          a(class='btn btn-light2 ' href='mailto:alfredommgomes@gmail.com' style='width:12em;') Alfredo Gomes
        br
        br  
        div(class='btn-group')
          a(class='btn btn-light2  disabled')
            i(class='fa fa-envelope-o' style='width:16px; height:24px')
          a(class='btn btn-light2 ' href='mailto:joaomvieira25@gmail.com' style='width:12em;') João Vieira

