extends layout

block content
  .container
    br
    br
    br
    .alert.alert-warning.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert')
        span(aria-hidden='true') ×
        span.sr-only Close
      |         This section contains a wealth of information, related to 
      strong StartApp
      |  . If you cannot find an answer to your question,
      |         make sure to contact us.
    br
    #accordion
      .faqHeader General questions
      .card
        .card-header
          h4.card-header
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse1') QUESTAO
        #collapse1.panel-collapse.collapse
          .card-block
            | RESPOSTA
      .card
        .card-header
          h4.card-header
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2') Is account registration required?
        #collapse2.panel-collapse.collapse
          .card-block
            | Account registration at DigitalMe is only required if you're planning on creating posts.
      .card
        .card-header
          h4.card-header
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse3') Can I submit my own posts?
        #collapse3.panel-collapse.collapse
          .card-block
            | Yes!