doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title DigitalMe | #{title}
    link(rel='stylesheet', href='../public/stylesheets/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='../public/stylesheets/icon.css')
    link(rel='stylesheet', href='../public/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='../public/stylesheets/full-slider.css')
  body
    include navbar
    header(class='img-responsive')
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
          li(data-target='#carouselExampleIndicators', data-slide-to='4')
          li(data-target='#carouselExampleIndicators', data-slide-to='5')
          li(data-target='#carouselExampleIndicators', data-slide-to='6')
          li(data-target='#carouselExampleIndicators', data-slide-to='7')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('https://coresites-cdn.factorymedia.com/mpora_new/wp-content/uploads/2017/01/What-is-Ultra-Running-Everything-you-need-to-know-Runner-Walking-Running-in-Desert.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://static01.nyt.com/images/2016/05/03/dining/03COOKING-KNIFESKILLS1/03COOKING-KNIFESKILLS1-superJumbo.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('http://www.youthvillage.co.za/wp-content/uploads/2016/03/read.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://wikitravel.org/upload/shared//9/9f/Traveling_with_a_criminal_history_banner.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://www.christinechangphotoblog.com/wp-content/uploads/2017/07/0212nadra_photography_maine_weddings-1920x900.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://pixnio.com/free-images/2017/08/25/2017-08-25-09-30-22-1000x750.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://fi.co/system/posts/question-mark-2492009_1280.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
          .carousel-item(style="background-image: url('https://lostlb.org/wp-content/uploads/2017/10/photo.jpg')")
            .carousel-caption.d-none.d-md-block
              .main.container.text-xs-center
                br
                br
                br
                br
                img(src='https://i.imgur.com/N6viMyf.png' style='display: inline-block;' class='img-fluid')
                br
                br
                h6 Welcome to DigitalMe, a place where you can share your thoughts, ideas and experiences.
                br 
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', crossorigin='anonymous')
