extends layout

block content
  .main.container
    .main.container.text-xs-center
      br
      h1 Welcome to 
      h1= appName
      br
      br
      br
      h3= appName
      h3 was promptly generated using Yeoman!
      br
      h6 Yeoman helps you to kickstart new projects, prescribing best practices and tools to help you stay productive.
      h6 To do so, we provide a generator ecosystem. A generator is basically a plugin that can be run with the `yo` command to scaffold complete projects or useful parts.
