extends layout

block content
  .main.container
    .main.container.text-xs-center
      br
      h1 Welcome to 
      h1= appName
      br
      br
      br
      h3= appName
      h3 was promptly generated using Yeoman!